@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Lobster);

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome.scss";

		body {
			font-family: 'Raleway';
			margin-top: 60px;
		}
		button .fa {
			margin-right: 6px;
		}
		.table-text div {
			padding-top: 6px;
		}
		.logo {
			font-family: 'Lobster';
		}
		
		.fa {
			    position: relative;
			}


.envelope-label {
	    font-size: .6em;    
	    display: block;
	    position: absolute;
	    top: -.75em;
	    right: -.75em;
	    text-align: center;
	    border-radius: 50%;    
}


.caret-container {
  float: right;
}
.nav-container {
  background-color: #f5f5f5;
  text-transform: uppercase;
  //font-weight: bold;
}
  
.nav-sub-container {
  background-color: #f8f8f8;  
  font-weight: bold;
  cursor: pointer;
}

ul.nav-stacked ul.nav-stacked > li > a {
  padding-left: 30px;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
